/* место для вашего кода */
/* HEADER  */
.header {
  padding: 90px 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  place-items: center;
}
.nav {
  justify-self: start;
}
.nav-list {
  display: flex;
  font-size: 18px;
  list-style: circle;
  gap: 32px;
  padding: 0;
}
.nav_list-item:nth-child(1) {
  list-style: none;
}
.nav_list-link {
  text-decoration: underline;
}
.nav_list-active_link {
  text-decoration: none;
}
.logo_img {
  width: 148px;
  height: 105px;
}
.contacts {
  justify-self: end;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 236px;
  line-height: 1.3;
  font-style: normal;
}
/* MAIN COVER  */
.cover {
  width: 100%;
  min-height: 757px;
  background-image: url("./../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  margin-bottom: 180px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.cover-title {
  font-size: 100px;
  font-weight: 700;
  color: white;
  letter-spacing: 30px;
  margin-top: 165px;
  padding: 0 50px;
  text-transform: uppercase;
}
.cover-title span {
  display: block;
  line-height: 1.32;
}
.cover-title span:nth-child(2) {
  display: block;
  line-height: 1.32;
  margin-left: 30px;
}
.cover-title span:last-child {
  display: block;
  line-height: 1.32;
  margin-left: 615px;
}

.cover_description {
  display: flex;
  padding: 60px 50px 45px 50px;
  justify-content: space-between;
  align-items: center;
}
.cover_description-text {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;
}
.bet-button {
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  &:hover {
    background-color: white;
    color: black;
  }
}
/* MAIN LOTS */
.lots {
  margin-bottom: 155px;
  padding: 0 24px;
}
.lots-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 22px;
  padding-left: 40px;
  line-height: 1.4;
}
.lots_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  gap: 25px;
  margin-bottom: 30px;
}
.lots_list-item {
  background-size: cover;
  height: 596px;
  z-index: 0;
  background-position: center;
}
.lots_list-item:nth-child(1) {
  background-image: url(./../images/card-lot-01.jpg);
}
.lots_list-item:nth-child(2) {
  background-image: url(./../images/card-lot-02.jpg);
}
.lots_list-item:nth-child(3) {
  background-image: url(./../images/card-lot-03.jpg);
}
.card-link {
  text-decoration: none;
}

.card {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  color: white;
}
.card__text {
  font-size: 20px;
  color: white;
}

.lots__look-more-link {
  font-size: 20px;
  padding-left: 40px;
  line-height: 1.43;
}
/* MAIN ABOUT */
.about {
  padding: 0 24px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 240px auto;
  gap: 0 25px;

  margin-bottom: 180px;
}
.about_logo {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  align-self: center;
  justify-self: center;
  border: 1px solid black;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: black;
}
.about_info-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  grid-column: 2/4;
}
.about_info {
  grid-column: 2/4;

  display: flex;
  flex-direction: column;
  gap: 100px;
}
.about_info_description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about_info-text {
  font-size: 20px;
}
.about_logo-img {
  width: 141px;
  height: 112px;
}
/*  FOOTER */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 180px;
  padding: 0 50px;
}
.footer .contacts {
  justify-self: start;
  width: 260px;
}
.footer .nav {
  justify-self: center;
}
.footer .nav-list {
  list-style: none;
  gap: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
